{% load scrumboard_extras %}

    <div id="id_item-{{ item.pk }}" class="item-container">
        <div class="item-header">
            <div class="item-name" {% style_background_color item.color %}>
                <div class="item-name-value">{{ item.name }}</div>
            </div>
            <div class="item-estimate-work">
                <div class="item-estimate-work-label" {% style_background_color item.color %}>Est:</div>
                <div class="item-estimate-work-value">{{ item.estimate_work }}</div>
            </div>
            <div class="item-estimate-review">
                <div class="item-estimate-review-label" {% style_background_color item.color %}>Rev:</div>
                <div class="item-estimate-review-value">{{ item.estimate_review }}</div>
            </div>
        </div>
        <div class="item-description">{{ item.description }}</div>
        <div class="item-footer">
            <div class="item-status">
                <div class="item-status-label">Status:</div>
                <div class="item-status-value">{{ item.get_status_display }}</div>
            </div>
            <div class="item-assignee">
                <div class="item-assignee-label">Assignee:</div>
                <div class="item-assignee-value"><a href="#">{{ item.assignee }}</a></div>
            </div>
            <div class="item-sprint">
                <div class="item-sprint-label">Sprint:</div>
                <div class="item-sprint-value">
                    {% if item.sprint %}
                        {% scrumboard_sprint_url item.sprint %}
                    {% else %}
                        ---
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
