{% load scrumboard_extras %}

<li class="scrumboard-item">
    <div class="scrumboard-item-box">
        <div class="scrumboard-item-header" {% style_background_color item.color %}>
            <span class="scrumboard-item-header-name"><a title="{{ item.name }}" href="{% url 'scrumboard:item_details' item.pk %}">{{ item.name }}</a></span>
            <span title="Work Estimate" class="scrumboard-item-header-estimate-work">E{{ item.estimate_work }}</span>
            <span title="Review Estimate"class="scrumboard-item-header-estimate-review">R{{ item.estimate_review }}</span>
        </div>
        <div class="scrumboard-item-description">
            <p title="{{ item.description }}">{{ item.description }}</p>
        </div>
    </div>
</li>