{% load scrumboard_extras %}
{% load bootstrap3 %}

<fieldset hidden>
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
</fieldset>
<fieldset class="row">
    {% bootstrap_field form.name form_group_class='col-xs-6 form-group' %}
    <div class="col-xs-3">
        {% bootstrap_label content='Est' label_for=form.estimate_work.auto_id %}
        {% bootstrap_field form.estimate_work show_label=False %}
    </div>

    <div class="col-xs-3">
        {% bootstrap_label content='Rev' label_for=form.estimate_review.auto_id %}
        {% bootstrap_field form.estimate_review show_label=False %}
    </div>
</fieldset>
<fieldset class="row">
    {% bootstrap_field form.description show_label=False form_group_class='col-xs-12 form-group' %}
</fieldset>
