<!DOCTYPE html>

{% load staticfiles %}
{% load scrumboard_extras %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block head_title %}{% endblock %}</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
        <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css">

        <link rel="stylesheet" href="{{ STATIC_URL }}scrumboard/css/select2-bootstrap.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
        {% block rel_stylesheets %}{% endblock %}

        <script>
            $(function(){
              $('select').select2({
                    theme: "bootstrap"
                });
            });
        </script>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'scrumboard:index'%}">Scrumboard</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{% url 'scrumboard:current_sprint_planning' %}">Planning</a>
                        </li>
                    </ul>
                    {% scrumboard_sprint_active_select %}
                </div>

            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>