<!DOCTYPE html>
<html lang="en">
    <head>{% load staticfiles %}{% load scrumboard_extras %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{% block head_title %}{% endblock %}</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/css/tether.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css">
        <link rel="stylesheet" href="{% static 'scrumboard/css/select2-bootstrap.css' %}">

        <style>
            body {
                padding-bottom: 70px; /* bottom navbar */
            }
        </style>
        {% block rel_stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-full navbar-light bg-faded" role="navigation">
            <a class="navbar-brand" href="{% url 'scrumboard:index'%}">Scrumboard</a>
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'scrumboard:sprint_current_planning' %}">Planning</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'scrumboard:sprint_current_burndown_chart' %}">Burndown</a>
                </li>
            </ul>
            {% scrumboard_sprint_active_select %}
        </nav>
        {% block content %}{% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>

        <script>
            var initSelect2 = function(selector) {
                $(selector).select2({
                    theme: "bootstrap",
                    width: 'resolve',
                    minimumResultsForSearch: 20
                });
            };

            $(function(){
                initSelect2('select:visible');
            });
        </script>
        {% block scripts %}{% endblock %}
    </body>
</html>
