{% extends 'scrumboard/base.html' %}

{% load scrumboard_extras %}
{% load bootstrap3 %}

{% block head_title %}{% if item.pk %}Update{% else %}Create{% endif %} Item{% endblock %}

{% block rel_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/scrumboard/css/item.css">

    <style>
        .select2-results__option {
            white-space: nowrap;
            width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="item">
        <form class="form" method="POST" action="{% if item.pk %}{% url 'scrumboard:item_update' item.pk %}{% else %}{% url 'scrumboard:item_create' %}{% endif %}">
            <fieldset hidden>
                {% csrf_token %}
            </fieldset>
            {% scrumboard_item_form form %}
            <fieldset class="row">
                <div class="col-xs-12 form-group btn-group btn-group-justified">
                    <div class="btn-group">
                        {% bootstrap_button "Save" icon='ok' button_type='submit' button_class='btn-success' %}
                    </div>
                    <div class="btn-group">
                        {% bootstrap_button "Back" icon='triangle-left' button_type='link' href='#' button_class='btn-secondary' %}
                    </div>
                    <div class="btn-group">
                        {% url 'scrumboard:item_delete' item.pk as item_delete_url %}
                        {% bootstrap_button "Delete" icon='trash' button_type='link' button_class='btn-danger' href=item_delete_url %}
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}

