{% extends 'scrumboard/base.html' %}

{% block head_title %}Item List{% endblock %}

{% block content %}
        <h1>Items</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Assignee</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
        {% for item in all_items %}
                <tr>
                    <td><a href="{% url 'scrumboard:item_details' item.pk %}">{{ item.name }}</a></td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.get_status_display }}</td>
                    <td>{{ item.assignee }}<a href="#">[view profile]</a></td>
                    <td><a href="{% url 'scrumboard:item_update' item.pk %}">[edit]</a></td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
{% endblock %}