{% extends 'scrumboard/base.html' %}

{% load scrumboard_extras %}

{% block head_title %}Item List{% endblock %}

{% block content %}
        <h1>Items</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Sprint</th>
                    <th>Assignee</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="6">Total: {{ all_items|length }}</td>
                </tr>
            </tfoot>
            <tbody>
                {% for item in all_items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.get_status_display }}</td>
                    <td>{% if item.sprint %}{% sprint_url item.sprint %}{% endif %}</td>
                    <td>{% if item.assignee %}{{ item.assignee.username}}{% endif %}</td>
                    <td>{% scrumboard_item_url item text="[edit]" %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}