{% extends 'scrumboard/base.html' %}

{% load scrumboard_extras %}

{% block head_title %}Item Details{% endblock %}

{% block rel_stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/scrumboard/css/item.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/scrumboard/css/fancy_item.css">
{% endblock %}

{% block content %}
    <div class="item card">
        <div class="card-header">Item</div>
        <div class="list-group list-group-flush">
            <div class="list-group-item">
                {% scrumboard_item_full item %}
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-4">
                        <a role="button" class="btn btn-primary-outline btn-block" href="{% url 'scrumboard:item_update' item.pk %}">
                            {% fa_icon 'pencil' %} Update
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a role="button" class="btn btn-secondary-outline btn-block" href="#">
                            {% fa_icon 'caret-left' %} Back
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a role="button" class="btn btn-danger-outline btn-block" href="{% url 'scrumboard:item_delete' item.pk %}">
                            {% fa_icon 'trash' %} Delete
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
