{% extends 'scrumboard/base.html' %}

{% load scrumboard_extras %}

{% block head_title %}{% if item.pk %}Update{% else %}Create{% endif %} Item{% endblock %}

{% block rel_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/scrumboard/css/item_form.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/scrumboard/css/fancy_item.css">
{% endblock %}

{% block content %}
    <div class="item">
        <form action="{% if item.pk %}{% url 'scrumboard:item_update' item.pk %}{% else %}{% url 'scrumboard:item_create' %}{% endif %}" method="POST">
        {% csrf_token %}
        {% fancy_item_form form %}
            <input type="submit" value="Submit" style="margin-top: 1em; width:100%;">
        </form>
    </div>
{% endblock %}
