{% extends 'scrumboard/base.html' %}

{% load scrumboard_extras %}

{% block head_title %}Scrumboard for Sprint {{ sprint.name }}{% endblock %}

{% block rel_stylesheets %}
    <style>
        .item-box {
            margin: 5px;
            border: 1px solid black;
            height: 42px;
            width: 140px;
        }

        .popover {
            width: 350px;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
        });
    </script>
{% endblock %}

{% block content %}
        <div class="container-fluid">
            <div class="table-responsive">
                <table class="table-bordered">
                    <thead>
                        <tr>
                            <th class="col-xs-1">SPRINT {% sprint_url sprint %}</th>
                            <th class="col-xs-1">WIP</th>
                            <th class="col-xs-1">RDY</th>
                            <th class="col-xs-1">REV</th>
                            <th class="col-xs-1">FIX</th>
                            <th class="col-xs-1">EXT</th>
                            <th class="col-xs-1">BLK</th>
                            <th class="col-xs-2">COMMITTED</th>
                            <th class="col-xs-2">DONE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-2" rowspan="{{ assignment|length }}">
                                <div class="row">
                                {% for item in unassigned_items.COMMITTED %}
                                    {% item_detail_short item %}
                                {% endfor %}
                                </div>
                            </td>
                            <td class="col-xs-2" rowspan="{{ assignment|length }}">
                                <div class="row">
                                {% for item in unassigned_items.DONE %}
                                    {% item_detail_short item %}
                                {% endfor %}
                                </div>
                            </td>
                        </tr>
                        {% for assignment in assigned_items %}
                        <tr style="height: 150px;">
                            <td class="col-xs-1">
                                <a href="{{ assignment.user.pk }}">{{ assignment.user.username }}</a>
                            </td>
                            <td class="col-xs-1">
                                <div class="row">
                                {% for item in assignment.status.WIP %}
                                    {% item_detail_short item %}
                                {% endfor %}
                                </div>
                            </td>
                            <td class="col-xs-1">
                                <div class="row">
                                {% for item in assignment.status.RDY %}
                                    {% item_detail_short item %}
                                {% endfor %}
                                </div>
                            </td>
                            <td class="col-xs-1">
                                <div class="row">
                                {% for item in assignment.status.REV %}
                                    {% item_detail_short item %}
                                {% endfor %}
                                </div>
                            </td>
                            <td class="col-xs-1">
                                <div class="row">
                                {% for item in assignment.status.FIX %}
                                    {% item_detail_short item %}
                                {% endfor %}
                                </div>
                            </td>
                            <td class="col-xs-1">
                                <div class="row">
                                {% for item in assignment.status.EXT %}
                                    {% item_detail_short item %}
                                {% endfor %}
                                </div>
                            </td>
                            <td class="col-xs-1">
                                <div class="row">
                                {% for item in assignment.status.BLK %}
                                    {% item_detail_short item %}
                                {% endfor %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}