{% extends 'scrumboard/base.html' %}

{% load staticfiles %}
{% load scrumboard_extras %}
{% load bootstrap3 %}

{% block head_title %}Sprint {{ sprint.name }} Planning{% endblock %}

{% block rel_stylesheets %}
        <link rel="stylesheet" type="text/css" href="{% static 'scrumboard/css/sprint_planning.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'scrumboard/css/colorful-input-addons.css' %}">

        <style>
            textarea.form-control {
                height: 100px;
                resize: none;
            }

            #id_item_set_empty_form {
                display: none;
            }
        </style>
{% endblock %}

{% block scripts %}
        <script type="text/javascript">
            var updateTotalFormCount = function() {
                $('#id_{{ formset.prefix }}-TOTAL_FORMS').val({{ formset.initial_form_count }});
            };

            var submitFormset = function() {
                $('#item_formset').submit();
            };

            var addMore = function() {
                var totalForms = '#id_{{ formset.prefix }}-TOTAL_FORMS';

                var formIdx = $(totalForms).val();
                $('#form_set').append($('#id_item_set_empty_form').html().replace(/__prefix__/g, formIdx));

                $('#id_item_set-' + formIdx + '-color').val($('#id_repaint_all_items').val());
                $('#id_item_set-' + formIdx + '-name').val($('#id_rename_all_items').val());

                initSelect2('#id_{{ formset.prefix }}-' + formIdx + ' select');

                $(totalForms).val(parseInt(formIdx) + 1);
            };

            var repaintAll = function() {
                var color = $('#id_repaint_all_items').val();
                $('input[type=color]').val(color);
            };

            var renameAll = function() {
                var name = $('#id_rename_all_items').val();
                $('input[placeholder=Name]').val(name);
            };

            $(document).ready(function() {
                $('#id_nav_link_planning').addClass('active');
                updateTotalFormCount();
            });
        </script>
{% endblock %}

{% block content %}
    <div class="container">
        <form id="item_formset" method="POST" action="{% url 'scrumboard:sprint_planning' sprint.pk %}">
            <div class="card card-primary-outline">
                <div class="card-header card-primary"></div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-xs-4">
                            <button id="form_submit_top" type="submit" class="btn btn-primary-outline btn-block">{% fa_icon "send" %} Submit</button>
                        </div>
                        <div class="col-xs-offset-4 col-xs-3">
                            <div class="input-group">
                                <span class="input-group-addon" id="id_total_estimate_label_top">Estimate:</span>
                                <input type="text" id="id_total_estimate_top" name="total_estimate" class="form-control" value="{{ estimate_total }}" aria-describedby="id_total_estimate_label_top" readonly>
                                <span class="input-group-addon {% if estimate_total > sprint.capacity %}danger{% else %}success{% endif %}">/{{ sprint.capacity }}</span>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <a name="up" href="#bottom" class="btn btn-secondary-outline btn-block">{% fa_icon 'arrow-down' %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <fieldset hidden>
                {% csrf_token %}
                {{ formset.management_form }}
            </fieldset>
            <div id="form_set" class="row">
            {% for form in formset %}
                <div class="col-xs-12 col-md-6">
                    <div id='id_{{ form.prefix }}' class="card">
                        <div class="card-header"></div>
                        <div class="card-block">
                            {% scrumboard_item_form form %}
                        </div>
                        <div class="list-group list-group-flush">
                            <div class="list-group-item">
                                <fieldset class="row">
                                    {% bootstrap_field form.status form_group_class='col-xs-5 form-group' %}
                                    {% bootstrap_field form.assignee form_group_class='col-xs-5 form-group' %}
                                    {% bootstrap_field form.color form_group_class='col-xs-2 form-group' %}
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div id="id_item_set_empty_form">
                <div class="col-xs-12 col-md-6">
                    <div id="id_{{ formset.empty_form.prefix }}" class="card card-warning-outline">
                        <div class="card-header card-warning"></div>
                        <div class="card-block">
                            {% scrumboard_item_form formset.empty_form %}
                        </div>
                        <div class="list-group list-group-flush">
                            <div class="list-group-item">
                                <fieldset class="row">
                                    {% bootstrap_field formset.empty_form.status form_group_class='col-xs-5 form-group' %}
                                    {% bootstrap_field formset.empty_form.assignee form_group_class='col-xs-5 form-group' %}
                                    {% bootstrap_field formset.empty_form.color form_group_class='col-xs-2 form-group' %}
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-primary-outline">
                <div class="card-header card-primary"></div>
                <div class="list-group list-group-flush">
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4">
                                <button type="button" class="btn btn-success-outline btn-block" onclick="addMore()">
                                    {% fa_icon "plus" %} Add More
                                </button>
                            </div>
                            <div class="col-xs-4">
                                <div class="input-group">
                                    <span class="input-group-addon" id="id_rename_all_items_label">Name:</span>
                                    <input type="text" id="id_rename_all_items" name="rename_all_items" class="form-control" placeholder="Name" aria-describedby="id_rename_all_items_label">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-secondary" onclick="renameAll()">{% fa_icon "pencil" %}</button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="input-group">
                                    <span class="input-group-addon" id="id_repaint_all_items_label">Color:</span>
                                    <input type="color" id="id_repaint_all_items" class="form-control" name="repaint_all_items" value="#96CFFF" aria-describedby="id_repaint_all_items_label">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-secondary" onclick="repaintAll()">{% fa_icon "tint" %}</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-xs-4">
                            <button id="form_submit_bottom" type="submit" class="btn btn-primary-outline btn-block">{% fa_icon "send" %} Submit</button>
                        </div>
                        <div class="col-xs-offset-4 col-xs-3">
                            <div class="input-group">
                                <span class="input-group-addon" id="id_total_estimate_label_bottom">Estimate:</span>
                                <input type="text" name="total_estimate" class="form-control" value="{{ estimate_total }}" aria-describedby="id_total_estimate_label_bottom" readonly>
                                <span class="input-group-addon {% if estimate_total > sprint.capacity %}danger{% else %}success{% endif %}">/{{ sprint.capacity }}</span>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <a name="bottom" href="#up" class="btn btn-secondary-outline btn-block">{% fa_icon 'arrow-up' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
