{% extends 'scrumboard/base.html' %}

{% block head_title %}Sprint {{ sprint.name }} Details{% endblock %}

{% block content %}
    <h1>Sprint details</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th><th>{{ sprint.name }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Start Date</td><td>{{ sprint.start_date}}</td>
            </tr>
            <tr>
                <td>End Date</td><td>{{ sprint.end_date}}</td>
            </tr>
            <tr>
                <td>Capacity</td><td>{{ sprint.capacity }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
