{% extends 'scrumboard/base.html' %}

{% load bootstrap3 %}

{% block head_title %}Sprint {% if sprint.pk %}{{ sprint.name }} Update{% else %}Create{% endif %}{% endblock %}

{% block rel_stylesheets %}
    <style>
        div.sprint {
            display: block;
            margin: 0 auto;
            width: 500px;
        }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.min.css">

    <script>
        $(document).ready(function() {
            $.fn.datepicker.defaults.format = "yyyy-mm-dd";
            $.fn.datepicker.defaults.todayBtn = "linked";
            $.fn.datepicker.defaults.autoclose = true;
            $.fn.datepicker.defaults.todayHighlight = true;
        });
    </script>
{% endblock %}

{% block content %}
    <div class="sprint panel panel-primary">
        <div class="panel-heading">Sprint update form</div>
        <form class="list-group" action="{% if sprint.pk %}{% url 'scrumboard:sprint_update' sprint.pk %}{% else %}{% url 'scrumboard:sprint_create' %}{% endif %}" method="POST">
            {% csrf_token %}
            <div class="list-group-item">
                {% bootstrap_field form.name %}
                <div class="form-group">
                    {% bootstrap_label "Duration" label_for='id_duration' %}
                    <div class="sr-only">
                        {{ form.start_date.label_tag }}
                        {{ form.end_date.label_tag }}
                    </div>
                    <div class="input-daterange input-group" data-provide="datepicker" id="id_duration">
                        {{ form.start_date }}
                        <span class="input-group-addon">to</span>
                        {{ form.end_date }}
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                {% bootstrap_field form.capacity %}
            </div>
            <div class="list-group-item form-group">
                <div class="btn-group btn-group-justified" role="group">
                    <a href="#" class="btn btn-default">
                        {% bootstrap_icon 'arrow-left' %} Back
                    </a>
                    <div class="btn-group">
                        {% bootstrap_button 'Save' icon='ok' button_type='submit' button_class='btn-success' %}
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
