div.item {
    display: block;
    margin: 1rem auto;
    width: 500px;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
